// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
	--ion-color-primary: #0008fa;
	--ion-color-primary-rgb: 0,8,250;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #0007dc;
	--ion-color-primary-tint: #1a21fb;

}