<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="ion-no-shadow" [ngStyle]="{'--background': headerBackgroundColor}">
    <ion-title>
      HeroFlix
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)" [ngStyle]="{'--background': backgroundColor}">
  
  <div class="poster-content">
  <img #posterImage src="./assets/img/batman.jpg">
  </div>
  <p *ngFor="let item of [].constructor(100); let i = index">Item {{ i }}</p>
</ion-content>
